<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDisplayName</key>
	<string>CCFCal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.guwei.ccfcal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ccfcal</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CCFCalRemoteCandidateFeedURL</key>
	<string>https://raw.githubusercontent.com/Good-Way-ZJU/CCFCal/main/docs/DDLCandidates.json</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>CCFCal works best when it can display events from your calendars. You can change this setting in System Settings › Privacy &amp; Security › Calendars</string>
	<key>NSCalendarsUsageDescription</key>
	<string>CCFCal works best when it can display events from your calendars. You can change this setting in System Preferences › Security &amp; Privacy › Privacy</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 CCFCal contributors. Portions © Sanjay Madan / Itsycal.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string></string>
	<key>SUPublicEDKey</key>
	<string></string>
	<key>SUScheduledCheckInterval</key>
	<real>345600</real>
</dict>
</plist>
